//color
accentColor = #F24F2C
fontColor = #464646
bottomblue = #7ca5d9

//font
default-font = RobotoBold
titleFont = RobotoBold
fontSize = 14px
lineHeight = 1.4

siteMinWidth = 320px
siteMaxWidth = 1920px
containerWidth = 980px

